<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency Converter</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <form [formGroup]="form">
    <div class="row">
      <!-- From Currency selection -->
      <div class="col-md-3">
        <label for="from_currency">Select Currency From:</label>
        <select class="form-control" formControlName="fromCurrency" id="from_currency">
          <option *ngFor="let currency of fromCurrencies" [value]="currency.value">{{ currency.label }}</option>
        </select>
        <div *ngIf="swapButtonClicked && form.get('fromCurrency')?.value === form.get('toCurrency')?.value" class="text-danger">
          Cannot swap same currencies
        </div>
      </div>

      <!-- From Amount input -->
      <div class="col-md-5">
        <label for="from_amount">Enter Amount:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="fromAmount" id="from_amount" placeholder="Enter amount">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div *ngIf="form.get('fromAmount')?.hasError('required') && form.get('fromAmount')?.touched" class="text-danger">
          Amount is required.
        </div>
        <div *ngIf="form.get('fromAmount')?.hasError('pattern') && form.get('fromAmount')?.touched" class="text-danger">
          Please enter a valid number.
        </div>
      </div>
    </div>
    <br>
    <!-- To Currency Selector -->
    <div class="row">
      <div class="col-md-3">
        <label for="to_currency">Select Currency To:</label>
        <select class="form-control" formControlName="toCurrency" id="to_currency">
          <option *ngFor="let currency of toCurrencies" [value]="currency.value">{{ currency.label }}</option>
        </select>
      </div>

      <div class="col-md-5">
        <label for="to_amount">Converted Amount:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="toAmount" id="to_amount" placeholder="Converted amount">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 custom-btn-pos">
        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()" (click)="getExchangeRate()">Convert</button>
        <button type="submit" class="btn btn-danger ml-2" (click)="clearFields()">Clear</button>
        <button type="button" class="btn btn-success ml-2" (click)="swapCurrencies()">Swap</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
